<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <main>
      <%- include('../layout/nav') %>
      <section id="hero">
        <h2> Sorry, we are unable to fulfill your request.</h2>
        <p> <%= err %></p>
      </section>
      <aside>
        <%# include('./layout/ads') %>
      </aside>
    </main>
    <%- include('./layout/footer') %>
  </body>
</html>