<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <main>
      <%- include('../layout/nav') %>   
      <section id="hero">
        <h2>My Recipes</h2>
        <ul>
          <% recipes.forEach(recipe => { %>
            <li class="cards">
              <%- include('../layout/card', {recipe: recipe}) %>
              <button class="details-button"><a href="/recipe/<%= recipe.id %>">View Details</a></button>
            </li>
          <% }); %>
        </ul>
      </section>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>