<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <main>
      <%- include('../layout/nav') %>
      <section id="hero">
        <h2>Recipe Details</h2>
        <ul>
          <% recipes.forEach(recipe => { %>  
            <li class="cards">
              <%- include('../layout/card', {recipe: recipe}) %>

              <ul class="ingredients">
                <% recipe.ingredientsArray.forEach( ingredient =>{ %>
                  <li class="ingredient-li"><%= ingredient %></li>
                <% }); %>
              </ul>

              <ul class="nutrients">
                <li>Total Fat: <%= recipe.total_fat %>g</li>
                <li>Saturated Fat: <%= recipe.saturated_fat %>g</li>
                <li>Total Carbs: <%= recipe.total_carbohydrate %>g</li>
                <li>Dietary Fiber: <%= recipe.dietary_fiber %>g</li>
                <li>Sugars: <%= recipe.sugars %>g</li>
                <li>Protein: <%= recipe.protein %>g</li>
                <li>Cholesterol: <%= recipe.cholesterol %>mg</li>
                <li>Sodium: <%= recipe.sodium %>mg</li>
                <li>Potassium: <%= recipe.potassium %>mg</li>
              </ul>

              <% if (substitutions.length > 0) { %>
                    <h3>Substitutions</h3>
              <% } %>
              <% substitutions.forEach((substitute) => { %>
                <h4><%= (substitute.addition ? 'Add ' : 'Remove ') + substitute.ingredient %></h4>
                <ul>
                  <li>Calories: <%= substitute.calories %>g</li>
                  <li>Total Fat: <%= substitute.total_fat %>g</li>
                  <li>Saturated Fat: <%= substitute.saturated_fat %>g</li>
                  <li>Total Carbs: <%= substitute.total_carbohydrate %>g</li>
                  <li>Dietary Fiber: <%= substitute.dietary_fiber %>g</li>
                  <li>Sugars: <%= substitute.sugars %>g</li>
                  <li>Protein: <%= substitute.protein %>g</li>
                  <li>Cholesterol: <%= substitute.cholesterol %>mg</li>
                  <li>Sodium: <%= substitute.sodium %>mg</li>
                  <li>Potassium: <%= substitute.potassium %>mg</li>
                </ul>

                <form method="post" action="/substitutions/<%= substitute.id %>">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="recipe_id" value="<%= recipe.id %>">
                  <button type="submit" class="delete-button">Delete Substitution</button>
                </form>
              <% }) %>

              <% if (substitutions.length > 0) { %>
                    <h3>Adjusted Nutritional Values:</h3>

                    <ul class="nutrients">
                      <li>Calories: <%= recipe.calc_calories %>g</li>
                      <li>Total Fat: <%= recipe.calc_total_fat %>g</li>
                      <li>Saturated Fat: <%= recipe.calc_saturated_fat %>g</li>
                      <li>Total Carbs: <%= recipe.calc_total_carbohydrate %>g</li>
                      <li>Dietary Fiber: <%= recipe.calc_dietary_fiber %>g</li>
                      <li>Sugars: <%= recipe.calc_sugars %>g</li>
                      <li>Protein: <%= recipe.calc_protein %>g</li>
                      <li>Cholesterol: <%= recipe.calc_cholesterol %>mg</li>
                      <li>Sodium: <%= recipe.calc_sodium %>mg</li>
                      <li>Potassium: <%= recipe.calc_potassium %>mg</li>
                    </ul>
              <% } %>

              <form method="post" action="/recipe/<%= recipe.id %>">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="delete-button">Delete</button>
              </form>

              <form method="post" action="/substitutions">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="recipe_id" value="<%= recipe.id %>">
                <input type="text" name="query">
                <input type="radio" name="addition" value="true"> Add
                <input type="radio" name="addition" value="false"> Remove
                <button type="submit">Save Substitution</button>
              </form>
            </li>
          <% }); %>
        </ul>
      </section>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>