<img src="<%= recipe.image_url %>" alt="<%= recipe.recipe_name %>">
<h3><%= recipe.recipe_name %></h3>
<h4>Source: <%= recipe.source %></h4>
<h5 class="servings">Servings: <b><%= recipe.servings %></b></h5>
<h5 class="calories">Calories Per Serving: <b><%= recipe.cal_per_serving %></b></h5>

<ul class="diets">
  <h5 class="labels">Diets:</h5>
<% recipe.diet_labelsArray.forEach( diet_label =>{ %>    
  <li class="diets-li"><%= diet_label %></li>
<% }); %>
</ul>

<ul class="healths">
  <h5 class="labels">Healths:</h5>
<% recipe.health_labelsArray.forEach( health_label =>{ %>    
  <li class="healths-li"><%= health_label %></li>
<% }); %>
</ul>


