<h3> <%= recipe.recipe_name %></h3>
<img src="<%= recipe.image_url %>" alt="<%= recipe.recipe_name%>">
<ul>
  <!-- ingredient array name is temporary  -->
  <% ingredients.forEach( ingredient =>{ %>    
  <li class="ingredient-li"><%= ingredient %></li>
  <% }); %>
  <% cautions.forEach( caution =>{ %>    
    <li class="labels-li"><%= caution %></li>
  <% }); %>
  <% health_labels.forEach( ingredient =>{ %>    
    <li class="labels-li"><%= health_labels %></li>
  <% }); %>
  <% diet_labels.forEach( ingredient =>{ %>    
    <li class="labels-li"><%= diet_labels %></li>
  <% }); %>
  <h5> Calories : <%= recipe.calories %></h5>
  

</ul>
