<h3> <%= recipe.recipe_name %></h3>
<img src="<%= recipe.image_url %>" alt="<%= recipe.recipe_name%>">
<ul>
  <!-- ingredient array name is temporary  -->
  <% recipe.ingredients.forEach( ingredient =>{ %>    
  <li class="ingredient-li"><%= ingredient %></li>
  <% }); %>
  <% recipe.cautions.forEach( caution =>{ %>    
    <li class="labels-li"><%= caution %></li>
  <% }); %>
  <% recipe.health_labels.forEach( health_label =>{ %>    
    <li class="labels-li"><%= health_label %></li>
  <% }); %>
  <% recipe.diet_labels.forEach( diet_label =>{ %>    
    <li class="labels-li"><%= diet_label %></li>
  <% }); %>
  <h5> Calories : <%= recipe.calories %></h5>
  

</ul>
